* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: 12px;
    background-color: #1F2D3D;
}

ul, li {
    list-style: none;
}

.ui-tab-wrapper {
    margin: 0 auto;
    width: 620px;
}

.ui-tab-wrapper .ui-tab-nav {
    height: 30px;
}

.ui-tab-wrapper .ui-tab-nav li {
    float: left;
    margin-right: 5px;
    background-color: #58B7FF;
    border-radius: 3px 3px 0 0;
}

.ui-tab-wrapper .ui-tab-nav li.active {
    background-color: #F9FAFC;
    border-radius: 3px 3px 0 0;
}

.ui-tab-wrapper .ui-tab-nav li a {
    display: block;
    height: 30px;
    padding: 0 20px;
    color: #fff;
    line-height: 30px;
    text-decoration: none;
}

.ui-tab-wrapper .ui-tab-nav li.active a {
    color: #58B7FF;
}

.ui-tab-content {
    height: 620px;
    padding: 10px;
    background-color: #F9FAFC;
}

.ui-tab-content-item {
    position: absolute;
    display: none;
}

.ui-tab-content-item.active {
    display: block;
}