body {
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	font-size: 14px;
	color: #475669;
}
.ui-datepicker-input {
	width: 210px;
	height: 20px;
}

.ui-datepicker-wrapper {
	position: absolute;
	display: none;
	width: 200px;
	padding: 5px;
	box-shadow: 2px 2px 8px 2px #D3DCE6;
	text-align: center;
}

.ui-datepicker-wrapper-show {
	display: block;
}

.ui-datepicker-header {
	height: 18px;
	padding: 4px;
	font-size: 18px;
	line-height: 18px;
}

.ui-datepicker-btn {
	color: #475669;
	text-decoration: none;
	cursor: pointer;
}

.ui-datepicker-prev-btn {
	float: left;
}

.ui-datepicker-next-btn {
	float: right;
}

.ui-datepicker-body {
	border-top: 1px solid #D3DCE6;
}

.ui-datepicker-body th {
	font-weight: bold;
}

.ui-datepicker-body td{
	width: 25px;
	cursor: pointer;
}

.ui-datepicker-body .not-this-month-day {
	color: #99A9BF;
}